.card {
    width: 264px;
    height:336px;
    figure {
        width: 264px;
        height: 160px;
    }
    .card-body {
        .card-title {
            font-weight: 800;
            font-size: 18px;
            line-height: 26px; 
        }
        .card-text {
            margin: 4px auto;
        }
    }
}